 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
.modal-dialog{
	pointer-events: inherit;
}
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 48px;
	background: transparent;
	border: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;	
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	padding: 0 13px;
	margin: 0 0 7px 0;
}
.b-input-text.error{
	border-color: red;
}
.b-input-text::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.b-input-text:-moz-placeholder{
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;	
}
.b-input-btn{
	width: 168px;
	height: 49px;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	display: block;
	margin: 15px 0 0 0;
}
input[type=submit] {
	cursor: pointer;
}

.b-checkbox{
	margin: 0 0 15px 0;
}
.b-checkbox:last-child{
	margin-bottom: 0;
	margin-top: 0;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	background: url(../images/checkbox__ico.png) center no-repeat;
	width: 15px;
	height: 15px;
	position: relative;
	flex-shrink: 0;
	margin: 0 10px 0 0;
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	background: url(../images/checkbox__ico2.png) center no-repeat;
	width: 15px;
	height: 15px;
}
.b-checkbox input[type="checkbox"]:checked + label span:before{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	color: #8491a4;
	font-style: normal;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.b-checkbox input[type="checkbox"] + label i a{
	color: #12c9be;
	text-decoration: underline;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 25px;
	border: none;
	border-radius: 2px;
	color: #373D3B;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;   
	padding: 0 10px;
	background: #E8E8E8;
/* 	
	background-repeat: no-repeat;
	background-position: right 10px center;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;     */    
}
.modal{
	z-index: 99999999;
}
.b-input-text{
	outline: none;  
}
textarea{
	height: 80px;
	outline: none;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	position: relative;
}
.fancybox-container{
	z-index: 999999;
}
.b-mobile{
	display: none;
}
/* End Total css ====*/
.container{

}
.b-header-xs{
	display: none;
}
.b-mobile{
	display: none;
}
/* -------------- page index -------------- */
.b-header{

}
.b-header-top{
	background: #1b3356;
	display: flex;
	justify-content: space-between;
	align-content: center;	
}
.b-header-top__left{

}
.b-header-top__left ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-header-top__left ul li{
	list-style: none;
}
.b-header-top__left ul li a{
	display: block;
	background-color: rgba(6, 199, 187, 0.2);
	color: #ffffff;
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	padding: 22px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
.b-header-top__left ul li a span{
	border-bottom: 1px dashed #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 3px 0;
	letter-spacing: 1px;
	display: block;
}
.b-header-top__left ul li a.active{
	background: #ffffff;
	color: #372f2c;
}
.b-header-top__left ul li a.active span{
	border-color: #372f2c; 
}
.b-header-top__right{

}
.b-header-top__right ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.b-header-top__right ul li{
	list-style: none;
	height: 100%;
}
.b-header-top__right ul li a{
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 25px;
	line-height: 27px;
	transition: 0.3s;
	text-decoration: none;
}
.b-header-top__right ul li a:hover{
	transition: 0.3s;
	text-decoration: none;
}
.b-header-top__right ul li:nth-child(1) a:hover{
	background: #4267b2;
}
.b-header-top__right ul li:nth-child(2) a:hover{
	background: #4a76a8;
}
.b-header-top__right ul li:nth-child(3) a:hover{
	background: #cb2694;
}
.b-header-top__right ul li:nth-child(4) a{
	background: rgba(6, 199, 187, 0.2);
}
.b-header-top__right ul li:nth-child(4) a:hover{
	background: #06c7bb;
}
.b-header-content{
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-header-content__wrap{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-logo{
	display: block;
	width: 190px;	
	background: url(../images/top_logo.svg) center no-repeat;
	height: 60px;
	margin: 0 250px 0 0;
}
.b-header-content__wrap__wrapper{
	flex-grow: 1;
}
.b-nav{

}
.b-nav ul{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	margin: 0;
}
.b-nav ul li{
	list-style: none;
	margin: 0 50px 0 0;
}
.b-nav ul li:last-child{
	margin: 0;
}
.b-nav ul li a{
	display: block;
	color: #372f2c;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
}
.b-nav ul li a:hover{
	color: #06c7bb;
	text-decoration: none;
	transition: 0.3s;
}
.b-nav ul li a i{
	display: block;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin: 10px 0 0 0;
}
.b-nav ul li a:after{
	content: "";
	background: url(../images/nav-arrow.png) center top no-repeat;
	width: 8px;
	height: 11px;
	display: block;
	margin: 10px auto 0;
	display: none;
}
.b-header-content__right{
	margin: 0 0 10px 0;
}
.b-header-content__right ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-header-content__right ul li{
	list-style: none;
}
.b-header-content__right ul li a{
	display: block;
	color: #372f2c;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	padding: 17px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 2px solid #eee;
	text-decoration: none;
}
.b-header-content__right ul li:last-child a{
	border: none;
}
.b-header-content__right ul li a b{
	display: block;
}
.b-header-ico{
	margin: 11px auto 0;
	width: 27px;
	display: block;
}
.b-header-content__right ul li a:hover{
	color: #06c7bb;
	fill: #06c7bb;
	transition: 0.3s;
}
/* -------------- b-main -------------- */
.b-main{
	background: url(../images/main-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 160px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-main-left{
	text-align: center;
}
.b-main-left span{
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}
h1{
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	line-height: 53px;
	text-transform: uppercase;
	padding: 21px 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	position: relative;
}
h1:before{
	position: absolute;
	top: 50%;
	right: 0;
	content: "";
	margin: -3px 0 0 0;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	background: #ffffff;
}
h1:after{
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	margin: -3px 0 0 0;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	background: #ffffff;
}
.b-main-btn{
	width: 238px;
	height: 42px;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 25px auto 0;
	transition: 0.3s;
}
.b-main-btn:hover{
	background: #ffffff;
	color: #000000;
	transition: 0.3s;	
}
.b-main-btn i{
	margin: 0 0 0 10px;
}
.b-main-right{
	padding: 37px 0 0 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-right p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}
.b-main-right p:last-child{
	margin: 0;
}
/* -------------- b-info -------------- */
.b-info{
	padding: 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f7f8fa;
}
.b-title{
	text-align: center;
	position: relative;
	margin: 0 0 40px 0;
}
.b-title p{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0.1;
	color: #3b3e43;
	font-size: 73px;
	font-weight: 700;
	line-height: 63px;
	text-transform: uppercase;
	z-index: 1;
}
h2{
	color: #3b3e43;
	font-size: 36px;
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.b-title span{
	color: #3b3e43;
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.b-title-content{

}
.b-info-item{
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;
}
.b-info-item > div{
	width: 100%;
}
.b-info-item__wrap{
	padding: 40px 40px 40px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-item__top{
	text-align: center;
	margin: 0 0 25px 0;
}
.b-info-item__top b{
	display: block;
	color: #3b3e43;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}
.b-info-item__top img{
	margin: 0 auto 0;
	width: 40px;
}
.b-info-item ul{
	padding: 0;
	margin: 0;
}
.b-info-item ul li{
	list-style: none;
	margin: 0 0 25px 0;
}
.b-info-item ul li:last-child{
	margin: 0;
}
.b-info-item ul li{
	display: block;
	color: #3b3e43;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	position: relative;
	padding: 0 0 0 34px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-item ul li:before{
	display: block;
	position: absolute;
	content: "";
	top: 10px;
	left: 0;
	width: 5px;
	height: 5px;
	background: #3b3e43;
	border-radius: 100%;
}
.b-info-item__bottom{
	background: #1b3356;
	display: flex;
	justify-content: flex-start;
	align-items: center;
    padding: 28px 40px 27px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-item__ico{
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-info-item__bottom p{
	color: #06c7bb;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin: 0;
}
/* -------------- b-desc -------------- */
.b-desc{
	background: #12243e;
	padding: 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-desc .b-title{

}
.b-desc .b-title p{
	color: #152946;
	opacity: 1;
}
.b-desc .b-title h2{
	color: #ffffff;
}
.b-desc .b-title span{
	color: #ffffff;
}
.b-desc-content{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-desc-left{
	background: url(../images/desc-bg.png) no-repeat #1b3356;
	background-position: bottom right -68px;
	width: 380px;
	padding: 35px 30px 30px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-shrink: 0;
}
.b-desc-left img{
	margin: 0 0 30px 0;
}
.b-desc-left p{
	display: block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
}
.b-desc-content{
	background: #f2f2f2;
}
.b-desc-right{
	padding: 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-desc-row{

}
.b-desc-row__top{
	padding: 15px 80px 15px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	transition: 0.3s;
	cursor: pointer;
}
.b-desc-row__top.blank:after{
	display: none;
}
.b-desc-row__top:hover{
	background: #f7f8fa;
	transition: 0.3s;
}
.b-desc-row__top:after{
	position: absolute;
	top: 27px;
	right: 25px;
	content: "";
	background: url(../images/desc-arrow.png) center no-repeat;
	width: 11px;
	height: 6px;
	transform: rotate(0deg);
	transition: 0.3s;
}
.b-desc-row__top.collapsed:after{
	transform: rotate(-90deg);
	transition: 0.3s;
}
.b-desc-row__top.collapsed{
	background: none;
	transition: 0.3s;
}
.b-desc-row__top span{
	color: #3b3e43;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.b-desc-row__top span:first-child{
	margin: 0 16px 0 0;
}
.b-desc-row__content{
	padding: 0px 90px 0px 75px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-desc-row__content__wrap{
	margin: 20px 0;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 2px solid #faba00;
}
.b-desc-row__content p{
	color: #3b3e43;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.b-desc-row__content p:last-child{
	margin: 0;
}
.b-desc-bottom{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 30px 0 ;
}
.b-desc-bottom__left{

}
.b-desc-bottom__left p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.b-desc-bottom__right{
	width: 366px;
	height: 81px;
	border: 2px dashed #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
	padding: 0 65px 0 20px;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
	opacity: 1;
}
.b-desc-bottom__right:hover{
	transition: 0.3s;
}
.b-desc-bottom__right i{
	position: absolute;
	top: 25px;
	right: 22px;
	content: "";
	font-size: 20px;
	line-height: 22px;
	transition: 0.3s;
	color: #ffffff;
}
/* .b-desc-bottom__right:after{
	position: absolute;
	top: 35px;
	right: 22px;
	content: "";
	background: url(../images/blue-arrow.png) center no-repeat;
	width: 14px;
	height: 9px;
	transform: rotate(180deg);
	transition: 0.3s;
} */
.b-desc-bottom__right__ico{
	width: 48px;
	height: 45px;
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-desc-bottom__right__ico svg{
	fill: #ffffff;
	transition: 0.3s;
}
.b-desc-bottom__right b{
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	transition: 0.3s;
}
.b-desc-bottom__right.active i{
	transform: rotate(180deg);
	transition: 0.3s;
	color: #06c7bb;
}
.b-desc-bottom__right.active{
	color: #06c7bb;
	border-color: #06c7bb;
	transition: 0.3s;
}
.b-desc-bottom__right.active b{
	color: #06c7bb;
	transition: 0.3s;
}
.b-desc-bottom__right.active .b-desc-bottom__right__ico svg{
	fill: #06c7bb;
	transition: 0.3s;
}
.b-desc-container{
	padding: 155px 95px 0 95px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1920px;
	margin: 40px 0 0 0;
	border-top: 1px dashed #213c64;
	display: none;
}
.b-desc-container__row{
	display: flex;
	justify-content: center;
	align-content: flex-start;
}
.b-desc-item{
	background: #1b3356;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.333333%;
	margin: 0 50px 0 0;
	padding: 35px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.b-desc-item > div{
	width: 100%;
}
.b-desc-item:last-child{
	margin: 0;
}
.b-desc-item__wrap{
	padding: 0 30px 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	flex-grow: 1;
}
.b-desc-item__number{
	position: absolute;
	bottom: 0;
	left: -4px;
	color: #1e4663;
	font-size: 234px;
	font-weight: 700;
	line-height: 211px;
	z-index: 1;
}
.b-desc-item__top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	padding: 0 0 0 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 35px 0;
}
.b-desc-item__img{
	position: absolute;
	top: -150px;
	left: -73px;
}
.b-desc-item__top p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0;
	text-align: right;
}
.b-desc-item__content{

}
.b-desc-item__content span{
	display: block;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	margin: 0 0 25px 0;
	position: relative;
	z-index: 2;	
}
.b-desc-item__content ul{
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 2;
}
.b-desc-item__content ul li{
	list-style: none;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	margin: 0 0 25px 0;
	position: relative;
}
.b-desc-item__content ul li:before{
	position: absolute;
	top: 11px;
	left: -30px;
	content: "";
	width: 5px;
	height: 5px;
	background: #ffffff;
	border-radius: 100%;
}
.b-desc-item .b-info-item__bottom{
	background: #1e4663;
	position: relative;
	z-index: 3;
	padding: 28px 17px 27px 17px;
}

.b-desc-item:nth-child(2) .b-desc-item__number{
    left: -9px;
}
.b-desc-item:nth-child(3) .b-desc-item__number{
    left: -9px;
}

/* -------------- b-findings -------------- */
.b-findings{
	background: #06c7bb;
	padding: 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-findings-content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-findings-left{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-shrink: 0;
	margin: 0 60px 0 0;
}
.b-findings-img{
	margin: 0 25px 0 0;
}
.b-findings-text{

}
.b-findings-text b{
	display: block;
	color: #ffffff;
	font-size: 43px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.b-findings-text span{
	display: block;
	opacity: 0.5;
	color: #12243e;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
}
.b-findings-right{
	padding: 0 0 0 55px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 2px solid #0dbbb1;
}
.b-findings-right p{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 30px 0;
}
.b-findings-right p:last-child{
	margin: 0;
}
/* -------------- b-services -------------- */
.b-services{
	padding: 60px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	background: #24126a;
}
.b-services .b-title p{
	opacity: 0.07;
	color: white;
}
.b-services:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 1355px;
	z-index: 2;
	background: url(../images/serv-bg.png) center top no-repeat;
	background-size: cover;	
}
.b-services:after{
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	width: 28%;
	height: 100%;
	z-index: 1;
	background: #242378;
}
.b-services > div{
	position: relative;
	z-index: 3;
}
.b-services .b-title{

}
.b-services .b-title h2 , .b-services .b-title span{
	color: #ffffff;
}
.b-services .b-title h2{
	margin: 0 0 10px 0;
}
.b-services .b-title span{
	line-height: 25px;
	text-transform: none;
}
.b-services-row{
	margin: 0 0 35px 0;
}
.b-services-item{
	text-align: center;
}
.b-services-item__img{
	width: 51px;
	margin: 0 auto 15px;
}
.b-services-item__img img{

}
.b-services-item p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin: 0;
}
.b-services-slider{

}
.b-services-slider__item{
	background: #ffffff;
	padding: 60px 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-services-slider__top{
	text-align: center;
	position: relative;
	margin: 0 0 30px 0;
	padding: 0 0 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-services-slider__top:after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	margin: 0 0 0 -25px;
	width: 50px;
	height: 2px;
	background: #fab900;	
}
.b-services-slider__top b{
	display: block;
	color: #4c5258;
	font-size: 30px;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;	
	margin: 0 0 10px 0;
}
.b-services-slider__top span{
	display: block;
	color: #8f9498;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
}
.b-services-slider__content{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-services-slider__block{
	padding: 0 30px 0 0;
	margin: 0 30px 0 0;
	border-right: 2px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}
.b-services-slider__block:last-child{
	/* padding: 0 0 0 30px; */
	padding: 0;
	margin: 0;
	border: none;
}
.b-services-slider__block span{
	display: block;
	color: #1e4663;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
}
.b-services-slider__block strong{
	color: #1e4663;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	display: block;
	margin: 0 0 25px 0;
}
.b-services-slider__block b{
	display: block;
	color: #4c5258;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 15px 0;
}
.b-services-slider__block p{
	color: #4c5258;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
}
.btn-serv{
	width: 171px;
	height: 50px;
	background: #fac02e;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin: 30px auto 0;
	transition: 0.3s;
}
.btn-serv:hover{
	background: #06c7bb;
	transition: 0.3s;
}
.slick-dots{
	padding: 0;
	margin: 20px 0 70px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slick-dots li{
	list-style: none;
	margin: 0 24px 0 0;
}
.slick-dots li:last-child{
	margin: 0;
}
.slick-dots li button{
	width: 16px;
	height: 16px;
	opacity: 0.5;
	background: #ffffff;
	border-radius: 100%;
	transition: 0.3s;
	text-indent: -99999px;
}
.slick-dots li.slick-active button{
	background: #06c7bb;
	transition: 0.3s;
	opacity: 1;
}
.b-services .b-services-bottom{
	z-index: 2;
    margin: -60px 0 0 0;
}
.b-services-bottom img{
	margin: 0 auto 0;
}
/* -------------- b-team -------------- */
.b-team{
	background: #f7f8fa;
	padding: 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-team-slider{
	margin: 75px 0 0 0;
	padding: 0 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-team-slider__item{
	display: flex !important;
	justify-content: center;
	align-items: flex-start;
}
.b-team-slider__item__img{
	position: relative;
	flex-shrink: 0;
	padding: 0 70px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 70px 0 0;
}
.b-team-slider__item__img__text{
	position: absolute;
	top: 100px;
	right: 0;
}
.b-team-slider__item__img__text b{
	display: block;
	color: #3b3e43;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #4c5258;
}
.b-team-slider__item__img__text span{
	display: block;
	color: #3b3e43;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	display: block;
	color: #4c5258;
}
.b-team-slider__item__text{
	padding: 40px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-team-slider__item__text b{
	display: block;
	color: #4c5258;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 10px 0;
}
.b-team-slider__item__text p{
	color: #4c5258;
	font-size: 17px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 0 15px 0;
}
.b-team-slider__item__text ul{
	padding: 0;
	margin: 0 0 10px 20px;
}
.b-team-slider__item__text ul li{
	list-style: none;
	color: #4c5258;
	font-size: 17px;
	font-weight: 300;
	line-height: 30px;
	position: relative;
}
.b-team-slider__item__text ul li:before{
	position: relative;
	position: absolute;
	top: 11px;
	left: -20px;
	content: "";
	width: 6px;
	height: 6px;
	background: #000000;
	border-radius: 100%;
}
.slick-arrow{
	position: absolute;
	top: 170px;
	text-indent: -999999px;
	z-index: 10;
}
.slick-prev{
	background: url(../images/left_arrow.svg) center no-repeat;
    width: 80px;
    height: 60px;
	left: -100px;
}
.slick-next{
	background: url(../images/right_arrow.svg) center no-repeat;
    width: 80px;
    height: 60px;
	right: -100px;
}
#map{
	height: 500px;
	width: 100%;
}
/* -------------- b-partners -------------- */
.b-partners{
	background: #f7f8fa;
	padding: 0 0 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-partners-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 70px 0 120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-partners-left{
	flex-shrink: 0;
	margin: 0 50px 0 0;
}
.b-partners-left span{
	opacity: 0.5;
	color: #3b3e43;
	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
	text-align: right;
	text-transform: uppercase;
	display: block;
}
.b-partners-row{
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

}
.b-partners-row__item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	width: 18.3%;
	height: 260px;
	border: 17px solid #ffffff;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 30px 10px 0;
	transition: 0.3s;
}
.b-partners-row__item img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: 0.6;
	transition: 0.3s;
}
.b-partners-row__item:hover img{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none; /* IE 6-9 */
	opacity: 1;
	transition: 0.3s;
}
.b-partners-row__item:hover{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}
.b-partners-row__item:last-child{
	margin-right: 0;
}
/* -------------- b-footer -------------- */
.b-footer{
	position: relative;
	overflow: hidden;
	background: #1b3356;
}
.btn-up{
	position: fixed;
	bottom: 200px;
	right: 0;
	width: 40px;
	height: 100px;
	background: #06c7bb;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
	padding: 25px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.btn-up i{
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;
	position: absolute;
	top: 23px;
    left: 15px;
}
.btn-up.active{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
	z-index: 99999999;
}
.btn-up:hover{
	background: #000000;
	transition: 0.3s;
}
.btn-up span{
	display: block;
	transform: rotate(-90deg);
}
.b-footer > .container > .row > div{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-footer-left{
	padding: 60px 66px 50px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}
.b-footer-top{
	position: relative;
	padding: 0 0 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 30px 0;
}
.b-footer-top:after{
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 15px;
	height: 2px;
	background: #fbc02e;	
}
.b-footer-top b{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.b-footer-text{
	position: relative;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 90px 0;
}
.b-footer-text__ico{
	background: url(../images/info_icon.svg) center no-repeat;
	width: 35px;
	height: 35px;
	position: absolute;
	top: -6px;
	left: -5px;
}
.b-footer-text p{
	opacity: 0.5;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	line-height: 23px;
}
.b-footer-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-footer-col{
	margin: 0 45px 0 0;
}
.b-footer-col:last-child{
	margin: 0;
}
.b-footer-item{
	position: relative;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	margin: 0 0 65px 0;
}
.b-footer-item__ico{
	position: absolute;
	top: -11px;
	left: -5px;
	width: 38px;
	height: 37px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-item p{
	opacity: 0.5;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-decoration: none;
	transition: 0.3s;
}
.b-footer-item:hover p{
	opacity: 1;
	transition: 0.3s;
}
.b-footer-item:hover{
	text-decoration: none;
}
.b-footer-top__two{
	margin-top: 60px;
}
.b-footer-subscription{
	
}
.b-footer-subscription__wrap{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 0 12px 0;
}
.b-footer-subscription__input{
	display: block;
	width: 278px;
	height: 50px;
	background: url(../images/input-bg.png) center no-repeat;
	background-position: right 10px center;
	opacity: 0.5;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0 20px 0 0;
	padding: 0 40px 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s;
	border-radius: 0 !important;
}
.b-footer-subscription__input:focus{
	opacity: 1;
	transition: 0.3s;
}
.b-footer-subscription__input::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}
.b-footer-subscription__input:-moz-placeholder{
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}
.b-footer-subscription__btn{
	width: 171px;
	height: 50px;
	background: #fac02e;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	display: block;
	border-radius: 0 !important;
}
.b-footer-subscription__btn:hover{
	background: #06c7bb;
	transition: 0.3s;
}
.yellow-btn:hover{
	transition: 0.3s;
	background: #ffd56c;
}
.yellow-btn:active{
	background: #da9c00;
	transition: 0.3s;
}
.b-footer-right{
	width: 50%;
	padding: 60px 0 50px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #12243e;
	position: relative;
}
.b-footer-right:after{
	position: absolute;
	top: 0;
	left: 99%;
	content: "";
	width: 9999999px;
	height: 100%;
	background-color: #12243e;
}
.b-footer-links{
	margin: 0 0 45px 0;
}
.b-footer-links ul{
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-links ul li{
	list-style: none;
	margin: 0 50px 0 0;
}
.b-footer-links ul li:last-child{
	margin: 0;
}
.b-footer-links ul li a{
	color: #06c7bb;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-decoration: underline;
}
.b-footer-bottom{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 20px;
}
.b-footer-bottom img{
	margin: 0 20px 0 0;
	width: 165px;
}
.b-footer-bottom span{
	opacity: 0.5;
	color: #ffffff;
	font-size: 14px;
	line-height: 19px;
	font-weight: 300;
}
.b-footer-blocks{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px 0 0 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #1b3356;
	margin: 35px 0 0 20px;
}
.b-footer-block{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 35px 0 0;
	transition: 0.3s;
	text-decoration: none;
}
.b-footer-block:last-child{
	margin: 0;
}
.b-footer-block span{
	opacity: 0.5;
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-decoration: none;
	margin: 0 15px 0 0;
}
.b-footer-block img{
	opacity: 0.5;
	width: 129px;
	transition: 0.3s;
}
.b-footer-right .b-footer-text{
	margin: 0 0 30px 0;
}
.b-footer-block:hover{
	text-decoration: none;
}
.b-footer-block:hover img{
	opacity: 1;
	transition: 0.3s;
}

/* -------------- modal -------------- */
.modal-dialog{
	background: url(../images/modal-bg.jpg) center top no-repeat;
	background-size: cover;
	width: 1150px;
	max-width: inherit;
	padding: 50px 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.b-modal-content{
	width: 620px;
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	padding: 65px 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-close{
	position: absolute;
	top: 40px;
	right: 30px;
	background: url(../images/close-m.png) center no-repeat;
	width: 21px;
	height: 21px;
}
.b-modal-top{
	text-align: center;
	margin: 0 0 25px 0;
}
.b-modal-top span{
	color: #363636;
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
}
.b-manager{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 35px 0;
}
.b-manager__ico{
	width: 62px;
	height: 62px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 10px 0 0;
}
.b-manager p{
	color: #363636;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	margin: 0;
}

.b-modal-row{

}
.b-modal-row b{
	display: block;
	color: #3b3e43;
	font-size: 19px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.b-modal-row ul{
	padding: 0;
	margin: 0 0 35px 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-modal-row ul li{
	list-style: none;
	width: 100%;
}
.b-modal-row ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
	padding: 16px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	opacity: 1;
	transition: 0.3s;	
}
.b-modal-row ul li a i{
	font-size: 25px;
	line-height: 27px;
	margin: 0 15px 0 0;
}
.b-modal-row ul li:first-child a{
	background: #cb2694;
}
.b-modal-row ul li:nth-child(2) a{
	background: #4a76a8;
}
.b-modal-row ul li:nth-child(3) a{
	background: #4267b2;
}
.b-modal-row ul li a:hover{
	opacity: 0.7;
	transition: 0.3s;
}
.b-modal-input{
	width: 100%;
	height: 50px;
	border: 2px solid rgba(59, 62, 67, 0.1);
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #363636;
	padding: 0 45px 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-modal-input::-webkit-input-placeholder{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
    color: rgba(54, 54, 54, 0.1);
    color: #363636;
}
.b-modal-input:-moz-placeholder{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
    color: rgba(54, 54, 54, 0.1);
    color: #363636;
}

.place_holder {
    z-index: 100;    
    cursor: text;   
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;    
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #363636;
	padding: 0 45px 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.placeinput input:invalid + .place_holder {
    display: flex;
}
.placeinput {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.place_holder span {
    color: #23ccc3;
    padding: 0 0 0 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.placeinput2 .place_holder input:invalid + .place_holder {
    display: inline;
}

.b-modal-phone{
	background: url(../images/modal-phone.png) no-repeat;
	background-position: right 15px center;
}
.b-modal-bottom{

}
.btn-modal{
	width: 251px;
	height: 50px;
	background: #fac02e;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	display: block;
	margin: 30px auto 17px;
}
.btn-modal:hover{
	background: #12c9be;
    transition: 0.3s;
}
.b-modal-bottom a{
	color: #12c9be;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	text-decoration: underline;
	text-align: center;
	display: block;
}
.b-modal-name{
	background: url(../images/b-modal-name.png) no-repeat;
	background-position: right 15px center;
}
.b-modal-email{
	background: url(../images/b-modal-email.png) no-repeat;
	background-position: right 15px center;	
}
.b-modal-textarea{
	width: 100%;
	height: 153px;
	background: url(../images/pen.png) no-repeat;
	background-position: right 15px top 18px;		
	border: 2px solid rgba(59, 62, 67, 0.1);
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #363636;
	padding: 20px 45px 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-modal-textarea::-webkit-input-placeholder{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
    color: rgba(54, 54, 54, 0.1);
    color: #363636;
}
.b-modal-textarea:-moz-placeholder{
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
    color: rgba(54, 54, 54, 0.1);
    color: #363636;
}
.b-modal-blocks{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-modal-block{
	width: 100%;
	margin: 0 30px 0 0;
}
.b-modal-block:last-child{
	margin: 0;
}
.b-modal-content__two .placeinput {
	margin: 0 0 30px 0;
}
.blue-btn{
	background: #12c9be;
	transition: 0.3s;
}
.blue-btn:hover{
	transition: 0.3s;
	background: #13e4d8;
}
.blue-btn:active{
	transition: 0.3s;
	background: #10ada4;
}
.b-modal-t{
	margin: 0 0 25px 0;
}
.b-modal-t span{
	color: #363636;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
}
.b-modal-t span i{
	color: #23ccc3;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	font-style: normal;
}
.b-services-img2{
	display: none;
}
.b-main-btn__xs{
	display: none;
}